#two-d + .solutions > li {
  min-width: fit-content;
}

#two-d + .solutions > li > ol {
  flex-direction: column;
  gap: 1px;
}

#two-d + .solutions > li > ol li ol {
  flex-flow: row nowrap;
  gap: 1px;
}

#two-d + .solutions > li > ol li ol li {
  width: var(--swatch-size-2D);
  height: var(--swatch-size-2D);
}
