main form {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  h2 {
    margin-block: 0;
  }

  .fields {
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }

  .inline {
    display: flex;
    flex-flow: row wrap;
  }

  label {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    max-width: max-content;
    height: 100%;
  }

  label > :is(input, select, textarea) {
    font-size: 1rem;
  }

  :is(input, select, textarea) {
    outline: 0;
    background-color: var(--c12);
    border: 1px solid var(--c24);
    border-radius: 0.3rem;
    color: var(--fg);
    padding: 0.5rem 1rem;
    width: 100%;
    height: 2.5rem;
    transition: border-color 125ms;
    opacity: 0.9;

    &:hover {
      border-color: var(--c48);
    }

    &:focus {
      border-color: var(--pri);
    }

    &.error {
      border-color: var(--err);
    }
  }

  button {
    background-color: var(--bg);
    border: 1px solid var(--pri);
    border-radius: 0.3rem;
    font-weight: 500;
    color: var(--fg);
    padding: 0.5rem 1rem;
    transition:
      background-color 125ms,
      border-color 250ms;

    &:is(:hover, :focus-visible) {
      background-color: var(--pri);
      border-color: var(--pri);
    }

    &:active {
      border-color: var(--fg);
      transition: none;
    }
  }

  button.error {
    border-color: var(--err);
    color: var(--err);

    &:is(:hover, :focus-visible) {
      background-color: var(--err);
      color: var(--white);
    }

    /* Duplicate needed because button:active has lower specificity than button.error:hover */
    &:active {
      border-color: var(--fg);
      transition: none;
    }
  }
}
